<!-- * Main container for the whole page -->
<div class="container all-section">
  <!-- * Information section with file requirements -->
  <div class="container info-section">
    <ul>
      <!-- * List down the file upload requirements -->
      <li>File size limit: {{fileSize}}MB</li>
      <li>Only JPEG, GIF, and WEBP are available</li>
      <li>Max width: {{maxWidth}}px, max height: {{maxHeight}}px</li>
    </ul>
  </div>
  <div class="container">
    <!-- * Form for uploading and converting image -->
    <form action="/result" method="post" enctype="multipart/form-data">
      <label for="image">Select Image:</label>
      <input type="file" name="image" id="image" accept="image/*" />
      <br />

      <!-- * Field for specifying desired image width -->
      <label for="width">Desired Width:</label>
      <input
        type="number"
        name="width"
        id="width"
        required
        min="1"
        max={{maxWidth}}
      />
      <br />

      <!-- * Field for specifying desired image height -->
      <label for="height">Desired Height:</label>
      <input
        type="number"
        name="height"
        id="height"
        required
        min="1"
        max={{maxHeight}}
      />
      <br />

      <!-- * Dropdown for selecting desired image format -->
      <label for="format">Desired Format:</label>
      <select name="format" id="format" required>
        <option value="jpeg">JPEG</option>
        <option value="gif">GIF</option>
        <option value="webp">WEBP</option>
      </select>
      <div class="small-blank-section"></div>
      <p></p>

      <!-- Instagram button -->
      <button
        id="instagramButton"
        class="btn btn-set-image"
        type="button"
      >Instagram Size</button>
      <p></p>

      <!-- YouTube Thumbnail button -->
      <button
        id="youtubeThumbnailButton"
        class="btn btn-set-image"
        type="button"
      >YouTube Thumbnail Size</button>
      <p></p>

      <!-- LinkedIn Profile button -->
      <button
        id="linkedinProfileButton"
        class="btn btn-set-image"
        type="button"
      >LinkedIn Profile Size</button>
      <p></p>

      <!-- * Submit button -->
      <button
        class="btn btn-inverse btn-custom"
        id="submitButton"
        type="submit"
      >Convert Image</button>
      <p></p>

      <!-- * Cancel button -->
      <button
        id="cancelButton"
        class="btn btn-inverse btn-custom"
      >Cancel</button>
    </form>

    <!-- * Text that appears while image is being processed -->
    <p class="notification" id="processingText">Processing...</p>
    <br />
  </div>
</div>