<html lang="en">
  <body>
    <div class="container">
      <div class="container info-section">
        <ul>
          <li>File size limit: {{fileSize}}MB</li>
          <li>Only JPEG, PNG, and GIF are available</li>
          <li>Max width: {{maxWidth}}px, max height: {{maxHeight}}</li>
        </ul>
      </div>

      <form action="/" method="post" enctype="multipart/form-data">
        <label for="width">Desired Width:</label>
        <input
          type="number"
          name="width"
          id="width"
          required
          required
          min="1"
          max={{maxWidth}}
        />
        <br />
        <label for="height">Desired Height:</label>
        <input
          type="number"
          name="height"
          id="height"
          required
          required
          min="1"
          max={{maxHeight}}
        />
        <br />
        <label for="format">Desired Format:</label>
        <select name="format" id="format" required>
          <option value="jpeg">JPEG</option>
          <option value="png">PNG</option>
          <option value="gif">GIF</option>
        </select>
        <br />
        <label class="btn btn-inverse" for="image">
          Select Image
        </label>
        <input
          type="file"
          name="image"
          id="image"
          accept="image/*"
          required
          style="display: none;"
        />
        <div style="height: 15px;"></div>
        <button
          class="btn btn-inverse"
          type="submit"
          style="font-family: 'Poppins';"
        >Convert Imaage</button>
      </form>
      {{#if result}}
        <p style="font-family: 'Poppins';">{{result}}</p>
        <!-- Display the converted image -->
        <img
          class="converted-image"
          src="data:image/jpeg;base64,{{convertedImage}}"
          alt="Uploaded Image"
        />
        <!-- Add a download button -->
        <div class="result-container">
          <a
            href="data:image/jpeg;base64,{{convertedImage}}"
            download={{newFilename}}
          >
            <div style="height: 15px;"></div>
            <button
              class="btn btn-inverse"
              style="font-family: 'Poppins';"
            >Download Image</button>
          </a>
        </div>
      {{/if}}
    </div>
  </body>
</html>