<!-- * Main container for the whole page -->
<div class="container">
  <div class="container all-section">

    <!-- * Text showing the conversion result -->
    <div class="container info-section">
      <ul>
        <!-- * List down the file upload requirements -->
        <li>A converted file name is {{resultFilename}}.</li>
        <li>Dimensions is {{resultDimensions}}.</li>
      </ul>
    </div>

    <!-- ! Download button -->
    {{!-- <a href="{{resultURL}}" download={{resultUrl}}> --}}
    <button
      class="btn btn-success btn-custom"
      id="downloadButton"
      data-url={{resultUrl}}
      data-name={{resultFilename}}
    >Download Image</button>
    {{! </a> }}
    <p></p>

    <!-- Go Home Button -->
    <a href="/">
      <button class="btn btn-inverse btn-custom">Go Home</button></a>
    <div class="container blank-section"></div>

    <!-- * Display the converted image -->
    <img
      class="converted-image"
      src="data:image/jpeg;base64,{{convertedImage}}"
      alt="Converted Image"
    />
    <div class="container blank-section"></div>
  </div>
</div>